<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 
  NuGet.config file setting priority
  NuGet is integrated into MSBuild for VS 2017.  NuGet uses the NuGet.config file to determine settings that
  will be used with the integrated version of NuGet.  Multiple NuGet.config files can be used at different
  directory levels within the repo.  The level closest to the solution directory for the project has the highest
  priority.  This allows for an override ability whereby the section defaults below can be defined in this repo-level
  NuGet.config file and overrides to those settings can be defined in NuGet.config files closer to the solution
  (or in the solution directory itself).
  -->
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <config>
    <add key="globalPackagesFolder" value="..\.nuget\packages" />
  </config>
  <packageSources>
      <clear />
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>