# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
# ADO link: https://msazure.visualstudio.com/One/_apps/hub/ms.vss-build-web.ci-designer-hub?pipelineId=297462&branch=main

trigger:
  none
    
pr: none

resources:
  containers:
  - container: pmc-cli
    image: 'mcr.microsoft.com/pmc/pmc-cli:latest'
    options: --entrypoint=""

variables:
  VcVersion : 1.11.1
  ROOT: $(Build.SourcesDirectory)
  CDP_DEFINITION_BUILD_COUNT: $[counter('', 0)] # needed for onebranch.pipeline.version task https://aka.ms/obpipelines/versioning
  ENABLE_PRS_DELAYSIGN: 1

stages:
- stage: BuildPackage
  jobs:
  - job: BuildPackage
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: UseDotNet@2
      continueOnError: false
      inputs:
        packageType: 'sdk'
        version: '6.0.406'
        useGlobalJson: false
        performMultiLevelLookup: true
        workingDirectory: '$(Build.SourcesDirectory)'

    - script: chmod -R +x $(Build.SourcesDirectory)
      displayName: 'Allow scripts to be executable on Linux'

      # Ensure the artifact output/bin/obj directories are clean.
    # - script: $(Build.SourcesDirectory)/clean.cmd
      # displayName: 'Clean Output Directories'
      
      # Build the repo.
    - script: apt update
    - script: apt install rpm
    - script: apt upgrade -y

    - script: $(Build.SourcesDirectory)/build.sh $(VcVersion) --build-all
      displayName: 'Build Solutions'

    - script: $(Build.SourcesDirectory)/src/VirtualClient/VirtualClient.Packaging/build-rpm-linux-arm64.sh $(VcVersion)
      displayName: 'Build rpm package for linux arm64'

    - script: $(Build.SourcesDirectory)/src/VirtualClient/VirtualClient.Packaging/build-rpm-linux-x64.sh $(VcVersion)
      displayName: 'Build rpm package for linux x64'

    - script: $(Build.SourcesDirectory)/src/VirtualClient/VirtualClient.Packaging/build-deb-linux-arm64.sh $(VcVersion)
      displayName: 'Build deb package for linux arm64'

    - script: $(Build.SourcesDirectory)/src/VirtualClient/VirtualClient.Packaging/build-deb-linux-x64.sh $(VcVersion)
      displayName: 'Build deb package for linux x64'

      
    - task: CopyFiles@2
      inputs:
        SourceFolder: '$(Build.SourcesDirectory)/out/packages'
        Contents: |
          *.deb
          **/RPMS/**/*.rpm
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: EsrpCodeSigning@1
      inputs:
        ConnectedServiceName: 'virtualclient-esrp'
        FolderPath: '$(Build.ArtifactStagingDirectory)'
        Pattern: '*.deb,*.rpm'
        signConfigType: 'inlineSignParams'
        inlineOperation: |
          [
              {
                  "KeyCode" : "CP-450779-Pgp",
                  "OperationCode" : "LinuxSign",
                  "Parameters" : {},
                  "ToolName" : "sign",
                  "ToolVersion" : "1.0"
              }
          ]
        SessionTimeout: '60'
        MaxConcurrency: '50'
        MaxRetryAttempts: '5'
        
    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: drop

  - job: PublishDebPackage
    condition: false
    timeoutInMinutes: 180
    dependsOn: BuildPackage
    pool:
      vmImage: 'ubuntu-latest'
    container: pmc-cli

    steps:
    - task: PipAuthenticate@1
      inputs:
        artifactFeeds: 'CRC-Dev'
    - script: pip install pmc-cli
    
    - download: current
      artifact: drop

    - task: CopyFiles@2
      inputs:
        SourceFolder: '$(Agent.BuildDirectory)/drop/'
        Contents: '*.deb,*.rpm'
        TargetFolder: '$(Agent.BuildDirectory)/drop/packages'
        
    - task: AzureKeyVault@2
      inputs:
        ConnectedServiceName: 'VirtualClient-AzureRM-AME'
        KeyVaultName: 'junoprod01vault01'
        SecretsFilter: 'virtualclient'
        RunAsPreJob: true

    # Debian
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Debian 12.0 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-debian-bookworm-prod-apt'
        release: 'bookworm'

    - task: PublishLinuxPackagesPMC@0
      displayName: 'Debian 11.0 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-debian-bullseye-prod-apt'
        release: 'bullseye'

    - task: PublishLinuxPackagesPMC@0
      displayName: 'Debian 10.0 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-debian-buster-prod-apt'
        release: 'buster'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Debian 8.0 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-debian-jessie-prod-apt'
        release: 'jessie'      

    - task: PublishLinuxPackagesPMC@0
      displayName: 'Debian 9.0 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-debian-stretch-prod-apt'
        release: 'stretch'    
        
    # Ubuntu
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 17.10 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-artful-prod-apt'
        release: 'artful'

    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 18.04 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-bionic-prod-apt'
        release: 'bionic'

    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 18.10 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-cosmic-prod-apt'
        release: 'cosmic'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 19.04 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-disco-prod-apt'
        release: 'disco'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 19.10 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-eoan-prod-apt'
        release: 'eoan'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 20.04 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-focal-prod-apt'
        release: 'focal'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 20.10 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-groovy-prod-apt'
        release: 'groovy'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 21.04 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-hirsute-prod-apt'
        release: 'hirsute'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 21.10 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-impish-prod-apt'
        release: 'impish'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 22.04 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-jammy-prod-apt'
        release: 'jammy'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 22.10 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-kinetic-prod-apt'
        release: 'kinetic'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 23.04 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-lunar-prod-apt'
        release: 'lunar'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 14.04 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-trusty-prod-apt'
        release: 'trusty'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 15.10 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-wily-prod-apt'
        release: 'wily'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 16.04 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-xenial-prod-apt'
        release: 'xenial'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 16.10 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-yakkety-prod-apt'
        release: 'yakkety'
        
    - task: PublishLinuxPackagesPMC@0
      displayName: 'Ubuntu 17.04 deb publish'
      inputs:
        profile: 'prod' # or tux-dev or ppe or prod depending on what you selected
        msal_SNIAuth: 'msal-sniauth'
        msal_cert: $(virtualclient)
        msal_client_ID: 'f407a268-1184-4845-92b1-eebfbe0749c0'
        package_path: '$(Agent.BuildDirectory)/drop/packages'
        repository: 'microsoft-ubuntu-zesty-prod-apt'
        release: 'zesty'