# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - main
  paths:
    exclude:
    - website
    
pr: none

pool:
  vmImage: windows-latest

variables:
  VcVersion : 0.16.1
  ROOT: $(Build.SourcesDirectory)
  CDP_DEFINITION_BUILD_COUNT: $[counter('', 0)] # needed for onebranch.pipeline.version task https://aka.ms/obpipelines/versioning
  ENABLE_PRS_DELAYSIGN: 1
  GitVersion.SemVer: ''
  

steps:
- task: UseDotNet@2
  continueOnError: false
  inputs:
    packageType: 'sdk'
    version: '2.1.x'

- task: UseDotNet@2
  continueOnError: false
  inputs:
    packageType: 'sdk'
    version: '6.0.406'
    useGlobalJson: false
    performMultiLevelLookup: true
    workingDirectory: '$(Build.SourcesDirectory)'

#- task: GitVersion@5
#  inputs:
#    runtime: 'core'
#    configFilePath: 'GitVersion.yml'
#    updateAssemblyInfo: true


  # Ensure the artifact output/bin/obj directories are clean.
- script: $(Build.SourcesDirectory)\clean.cmd
  displayName: 'Clean Output Directories'
  
  # Build the repo.
- script: $(Build.SourcesDirectory)\build.cmd $(VcVersion)
  displayName: 'Build Solutions'

  # Build NuGet packages for the services/agents in the repo.
- script: $(Build.SourcesDirectory)\build-packages.cmd $(VcVersion)
  displayName: 'Build NuGet Packages'

- task: EsrpCodeSigning@1
  inputs:
    ConnectedServiceName: 'virtualclient-esrp'
    FolderPath: '$(System.DefaultWorkingDirectory)'
    Pattern: '*.nupkg'
    signConfigType: 'inlineSignParams'
    inlineOperation: |
      [    
          {
            "KeyCode": "CP-401405",
            "OperationCode": "NuGetSign",
            "Parameters": {},
            "ToolName": "sign",
            "ToolVersion": "1.0"
          },
          {
            "KeyCode": "CP-401405",
            "OperationCode": "NuGetVerify",
            "Parameters": {},
            "ToolName": "sign",
            "ToolVersion": "1.0"
          }
      ]
    SessionTimeout: '60'
    MaxConcurrency: '50'
    MaxRetryAttempts: '5'

- script: $(Build.SourcesDirectory)\upload-packages.cmd $(Build.SourcesDirectory)\out\packages $(NUGETORGAPIKEY)
  displayName: 'Publish NuGet Packages'
